{% load gulp_rev_staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
  <head>
    <title>{% block title %}universitas.no{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "_favicons.html" %}
    {% block head %}{% endblock head %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/universitas.css' %}">
    <script src="{% static 'javascripts/head.js' %}"></script>
  </head>
  <body>
  {% block body %}
    <h1>body here</h1>
  {% endblock body %}
    <script src="{% static 'javascripts/vendor.js' %}"></script>
    <script src="{% static 'javascripts/site.js' %}"></script>
    {# {% include 'autocomplete_light/static.html' %} #}
  </body>
</html>
